@page
@model ShoppingAssignment_SE151295.Pages.Login.MyLoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Wellcome @Model.MyName</h1>

 <form method="POST">
     
      <input type="text" asp-action=/>
 </form>