<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-page="/Customers/CustomerManage">Customer Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-page="/Products/ProductManage">Product Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-page="/Orders/OrderManage">Order Management</a>
                        </li>
                         @* <li class="nav-item">
                              <a asp-page="/Login/MyLogin" class="btn btn-primary" style="margin-right:100px">Log out</a>
                        </li> *@
                    </ul>
                     <a asp-page="/Login/MyLogin" class="btn btn-secondary text-white font-weight-bold" style="margin-right:100px">Log out</a>
                </div>
               
            </div>
                    
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="myModalSuccess" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Information</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                            dfdgfdgdfdf
                        </div>
                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
