@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div>

    @{
        if (!string.IsNullOrEmpty(Model.ErrMsg))
        {
            <p class="alert alert-danger" role="alert">@Model.ErrMsg</p>
        }
        else
        {
            <a>Hello @Model.member.Email</a>
        }
    }
</div>
