@page
@model ShoppingAssignment_SE151295.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="LocalProductId" class="control-label"></label>
                <input asp-for="LocalProductId" class="form-control" readonly/>
            </div> *@
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Supplier" class="control-label"></label>
                <select asp-for="Product.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.QuantityPerUnit" class="control-label"></label>
                <input asp-for="Product.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="Product.QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitPrice" class="control-label"></label>
                <input asp-for="Product.UnitPrice" class="form-control" />
                <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductImage" class="control-label"></label>
                @*<input asp-for="Product.ProductImage" class="form-control" />
            <span asp-validation-for="Product.ProductImage" class="text-danger"></span>*@

                    <img src="" alt="Picture Product"
                        width="100" height="100" id="uploadFileimg"
                        style="display:none"/>

                <input type="file" asp-for="FileUpload" id="uploadfile" class="form-control"/>
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductStatus" class="control-label"></label>
                <input asp-for="Product.ProductStatus" class="form-control" />
                <span asp-validation-for="Product.ProductStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-page-handler="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="FileUpload" />
    <input type="submit" asp-page-handler="Hello" />
</form>*@
<div>
    <a asp-page="ProductManage">Back to List</a>
    @if (!string.IsNullOrEmpty(@Model.ErrorMessage))
    {
        <p class="alert alert-danger" role="alert">@Model.ErrorMessage</p>
    }
</div>
<div>
    @{if (Model.FileUpload != null)
        {
            <img src="~/images/@Model.FileUpload.FileName" width="500" height="333"/>
        }
    }
</div>

<script>
    const uploadElement = document.querySelector("#uploadfile");
    const uploadImgElement = document.querySelector("#uploadFileimg");

    uploadElement?.addEventListener("change", (event) => {
        if (Array.isArray(event.target.files)) return;
         const file = event.target.files[0];
        const fileUrl = URL.createObjectURL(file);

        uploadImgElement.setAttribute("src", fileUrl);
        uploadImgElement.style.display = "inline-block";
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
