@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}
<div class="col-4">
    <form method="post">
        <div class="form-group">
            @*Email: <input asp-for="member.Email" />*@
        </div>
        <div class="form-group">
            @*Password: <input asp-for="member.Password" />*@
        </div>
        <div class="form-group">
            <input type="submit" value="Login" />
        </div>
    </form>

</div>
